Flask 
flask-socketio 
flask-migrate 
flask-sqlalchemy 
markdown 
pymdown-extensions 
omegaconf
numpy
scipy 
torch 
torchaudio 
send2trash 
Pillow 
requests 
transformers 
tqdm
opencv-python 
imageio
scikit-learn 
datasets 
pydub
python-dateutil 
tinytag 
TTS 
unidecode 
mutagen
moviepy
peft 
trl 
pandas
