Flask
flask-socketio
flask-migrate
flask-sqlalchemy
markdown
pymdown-extensions
omegaconf
numpy<2
scipy
torch
torchaudio
send2trash
Pillow
requests
transformers==4.51.0
huggingface-hub
tqdm
opencv-python-headless
imageio
scikit-learn
datasets
pydub
python-dateutil
tinytag
unidecode
mutagen
peft
trl
pandas
sentencepiece
einops 
sentence-transformers
Flask-HTTPAuth
protobuf
moviepy==1.0.3
watchdog
rapidfuzz
setproctitle
bitsandbytes>=0.46.1
accelerate
librosa 
soundfile
minicpmo
onnx
hyperpyyaml
diffusers
onnxruntime