{% extends "base.html"%}
{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var currentUrl = window.location.pathname;

    var links = document.querySelectorAll('.menu-list a');

    links.forEach(function(link) {
      var linkUrl = link.getAttribute('href');

      // Check if the current URL matches the link URL
      if (currentUrl === linkUrl) {
        link.classList.add('is-active');
      }
    });
  });
</script>

<div class="columns is-mobile is-centered py-6">
  <aside class="column is-narrow menu">
    <p class="menu-label">
      Main
    </p>
    <ul class="menu-list">
      <li><a href="/">About</a></li>
    </ul>
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="/wiki/philosophy.md">Philosophy</a></li>
      <li><a href="/wiki/music.md">Music</a></li>
      <li><a href="/wiki/change_history.md">Change History</a></li>
    </ul>
    <p class="menu-label">
      Extensions
    </p>
    <ul class="menu-list">
    </ul>
  </aside>

  <div class="flex-shrink">
    <div class="container p-3">
      <div class="content">
        {{ content | safe }}
      </div>
    </div>
  </div>
<div>
{% endblock %}