<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anagnorisis - the model of you</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
</head>

<body>
  <script type="text/javascript">
    let socket = io.connect("http://{{cfg.main.host}}:{{cfg.main.port}}")

    $("document").ready(function(){
      socket.on('emit_llm_engine_start_processing', function(){
        $('#llm_processing_progress_bar').removeClass("is-warning")
        $('#llm_processing_progress_bar').addClass("is-success")
        $('#llm_processing_progress_bar').removeAttr("value");
      });

      socket.on('emit_llm_engine_end_processing', function(){
        $('#llm_processing_progress_bar').attr("value", 0);
      });

      socket.on('emit_llm_engine_start_loading', function(){
        $('#llm_processing_progress_bar').removeClass("is-success")
        $('#llm_processing_progress_bar').addClass("is-warning")
        $('#llm_processing_progress_bar').removeAttr("value");
      });

      socket.on('emit_llm_engine_end_loading', function(){
        $('#llm_processing_progress_bar').attr("value", 0);
      });
    })
  </script>

  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <!--
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    -->

    <div class="navbar-menu">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/static/ana_icon.svg" width="80" height="100%">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-start">
        <a class="navbar-item" href="/chat">
          Chat
        </a>

        <a class="navbar-item" href="/news">
          News
        </a>

        <a class="navbar-item" href="/music">
          Music
        </a>

        <a class="navbar-item has-text-grey-light">
          Movies
        </a>

        <a class="navbar-item has-text-grey-light">
          Search
        </a>

        <a class="navbar-item" href="/fine-tune">
          Fine-tuning
        </a>

        

        <!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      -->  
    </div>
    <div class="navbar-end">
      <div class="mr-6 p-0 is-justify-content-center is-flex" style="vertical-align: middle;">
        <audio controls id="bg_audio" autoplay class="is-hidden"></audio>
        <audio controls id="my_audio" autoplay class="is-hidden"></audio>
        <audio controls id="AIDJ_speaker" autoplay class="is-hidden"></audio>
        <!--
        <div class="tags has-addons">
          <span class="tag is-medium">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/48x48.png">
            </figure>
          </span>
          <span class="tag is-medium">Artist - Song</span>
          <a class="tag button is-medium">
            <i class="fas fa-backward-fast"></i>
          </a>
          <a class="tag button is-medium"> 
            <i class="fas fa-solid fa-play"></i>
          </a>
          <a class="tag button is-medium">
            <i class="fas fa-forward-fast"></i>
          </a>
        </div>
        -->
      </div>
      <!--<div class="box">
        I'm in a box.
      </div>-->

      <!--<a class="navbar-item" href="/wiki">
        Wiki
      </a>-->
    </div>
  </nav>
  <progress id="llm_processing_progress_bar" class="progress is-small is-primary is-expanded mb-0" max="100" style="height:.20rem" value="0"></progress>

  {% block content %}{% endblock %}
</body>
</html>