{% extends "base.html"%}
{% block content %}
  <div class="block py-6" style="width:1200px; margin:0 auto; text-align: justify;">
    <form class="box" action="#">
      <div class="columns">
        <div class="column is-one-third">
          <label class="label">Number of training epochs</label>
          <div class="control">
            <input class="input" type="number" id="input_num_train_epochs" value="?">
          </div>
        </div>

        <div class="column is-one-third">
          <label class="label">Maximum token size</label>
          <div class="control">
            <input class="input" type="number" id="input_MAX_TOKEN_SIZE" value="?">
          </div>
        </div>

        <div class="column is-one-third">
          <label class="label">OpenAssistant dataset percent used</label>
          <div class="field-body">
            <div class="field has-addons is-expanded">
              <div class="control is-expanded">
                <input class="input" type="number" id="input_openassistant_percent" value="?">
              </div>
              <p class="control">
                <a class="button is-static">
                  %
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="column is-full">
        <button class="button is-primary is-fullwidth" id="startBtn">Start Fine-tuning</button>
      </div>
    </form>

    <div class="box">
      <progress class="progress" value="15" max="100">15%</progress>
      <canvas id="chart_loss"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script type="text/javascript">
      const CHART_COLORS = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
      };

      let chart_loss = (()=>{
        const ctx = document.getElementById('chart_loss');

        const labels = [1, 2, 3, 4, 5, 6, 7];
        const data = {
          //labels: labels,
          datasets: [{
            label: 'Train loss',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: CHART_COLORS.red,
            //tension: 0.1
            yAxisID: 'y',
          },
          {
            label: 'Eval loss',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: CHART_COLORS.blue,
            //tension: 0.1
            yAxisID: 'y',
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {
            responsive: true,
            interaction: {
              mode: 'index',
              intersect: false,
            },
            stacked: false,
            plugins: {
              title: {
                display: true,
                text: 'Train and Eval losses'
              }
            },
            scales: {
              y: {
                type: 'linear',
                display: true,
                position: 'left',
              }
            }
          }
        };

        return new Chart(ctx, config);
      })();

      function update_chart(train_loss_hist, eval_loss_hist) {
        chart_loss.data.labels = Array.from(train_loss_hist.keys());
        chart_loss.data.datasets[0].data = train_loss_hist
        chart_loss.data.datasets[1].data = eval_loss_hist
        chart_loss.update();
      }

      
      update_chart([1,2,3,4,5], [5,5,4,4,3]) 

      $("document").ready(function(){
        //var socket = io.connect("http://localhost:5001")
        socket.on('connect', function(data){
          //socket.send("User connected!")
        })

        socket.on('emit_display_loss_data', function(data){
          update_chart(data['train_loss_hist'], data['eval_loss_hist'])
        })
        
        $('#startBtn').on('click', function(){
          socket.emit("emit_start_fine_tuning")
        })
      });
    </script>    
  </div>
{% endblock %}